<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.univation.tdsadmin">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ViewUserWorkouts">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseUserForViewWorkoutActivity"/>
        </activity>
        <activity android:name=".ChooseUserForViewWorkoutActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".ChooseUserForViewCheckInsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".ViewCheckInsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseUserForViewCheckInsActivity"/>
        </activity>
        <activity android:name=".ChooseWarmupExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".InputWarmupExerciseActivity"/>
        </activity>
        <activity android:name=".ChooseWorkoutExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".InputWorkoutExerciseActivity"/>
        </activity>
        <activity android:name=".ViewUserWorkoutsFromCheckInActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ViewCheckInsActivity"/>
        </activity>
        <activity android:name=".InputWarmupExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AddWorkoutActivity"/>
        </activity>
        <activity android:name=".InputWorkoutExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AddWorkoutActivity"/>
        </activity>
        <activity
                android:name=".AddCheckInActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseUserForAddWorkoutsActivity"/>
        </activity>
        <activity
                android:name=".AddWorkoutActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseUserForAddWorkoutsActivity"/>
        </activity>
        <activity
                android:name=".ChooseActionActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".SplashScreenActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ChooseUserForAddWorkoutsActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>