<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.univation.tdsadmin">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view_daily_macros.ViewDailyMacronutrientsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".view_user_nutrition.EditMealActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_user_nutrition.ViewUserNutritionActivity"/>
        </activity>
        <activity android:name=".view_user_nutrition.AddMealActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_user_nutrition.ViewUserNutritionActivity"/>
        </activity>
        <activity android:name=".view_user_nutrition.EditUserFoodChoicesActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_user_nutrition.ViewUserNutritionActivity"/>
        </activity>
        <activity
                android:name=".view_user_nutrition.ViewUserNutritionActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".view_workouts.ChooseBlockActivityForViewWorkout">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".add_workout.AddBlockActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".ChooseUserActivity">
        </activity>
        <activity android:name=".edit_user_goals.EditUserGoalsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".ChooseActionActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseUserActivity"/>
        </activity>
        <activity android:name=".view_workouts.ViewWorkoutWeekActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_workouts.ChooseWeekForViewWorkoutActivity"/>
        </activity>
        <activity android:name=".view_workouts.ChooseWeekForViewWorkoutActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_workouts.ChooseBlockActivityForViewWorkout"/>
        </activity>
        <activity android:name=".view_check_ins.ViewWorkoutWeekActivityForCheckIns">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_check_ins.ChooseWeekActivity"/>
        </activity>
        <activity android:name=".view_check_ins.ChooseWeekActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_check_ins.ChooseBlockActivity"/>
        </activity>
        <activity android:name=".add_workout.ChooseConditioningExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.InputConditioningExerciseActivity"/>
        </activity>
        <activity android:name=".add_workout.InputConditioningExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.AddWeekToBlockActivity"/>
        </activity>
        <activity android:name=".add_workout.ChooseCoreExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.InputCoreExerciseActivity"/>
        </activity>
        <activity android:name=".add_workout.InputCoreExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.AddWeekToBlockActivity"/>
        </activity>
        <activity android:name=".add_workout.ChooseAccessoryExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.InputAccessoryExerciseActivity"/>
        </activity>
        <activity android:name=".add_workout.InputAccessoryExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.AddWeekToBlockActivity"/>
        </activity>
        <activity android:name=".add_workout.AddWeekToBlockActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.AddBlockActivity"/>
        </activity>
        <activity android:name=".view_check_ins.ViewCheckInsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".add_workout.ChooseWarmupExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.InputWarmupExerciseActivity"/>
        </activity>
        <activity android:name=".add_workout.ChooseMainExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.InputMainExerciseActivity"/>
        </activity>
        <activity android:name=".view_check_ins.ChooseBlockActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view_check_ins.ViewCheckInsActivity"/>
        </activity>
        <activity android:name=".add_workout.InputWarmupExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.AddWeekToBlockActivity"/>
        </activity>
        <activity android:name=".add_workout.InputMainExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".add_workout.AddWeekToBlockActivity"/>
        </activity>
        <activity
                android:name=".SplashScreenActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>