<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.univation.tdsadmin">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".addworkout.ChooseAccessoryExerciseActivity">
        </activity>
        <activity android:name=".addworkout.InputAccessoryExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".addworkout.AddWeekToBlockActivity"/>
        </activity>
        <activity android:name=".addworkout.AddWeekToBlockActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".addworkout.AddBlockActivity"/>
        </activity>
        <activity android:name=".addworkout.AddBlockActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".addworkout.ChooseUserForAddWorkoutsActivity"/>
        </activity>
        <activity android:name=".viewworkouts.ViewUserWorkouts">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".viewworkouts.ChooseUserForViewWorkoutActivity"/>
        </activity>
        <activity android:name=".viewworkouts.ChooseUserForViewWorkoutActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".viewcheckins.ChooseUserForViewCheckInsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity android:name=".viewcheckins.ViewCheckInsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".viewcheckins.ChooseUserForViewCheckInsActivity"/>
        </activity>
        <activity android:name=".addworkout.ChooseWarmupExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".addworkout.InputWarmupExerciseActivity"/>
        </activity>
        <activity android:name=".addworkout.ChooseMainExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".addworkout.InputMainExerciseActivity"/>
        </activity>
        <activity android:name=".viewcheckins.ViewUserWorkoutsFromCheckInActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".viewcheckins.ViewCheckInsActivity"/>
        </activity>
        <activity android:name=".addworkout.InputWarmupExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".addworkout.AddWeekToBlockActivity"/>
        </activity>
        <activity android:name=".addworkout.InputMainExerciseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".addworkout.AddWeekToBlockActivity"/>
        </activity>
        <activity
                android:name=".ChooseActionActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".SplashScreenActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".addworkout.ChooseUserForAddWorkoutsActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseActionActivity"/>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>